@model ModelLogin
@{
    ViewData["Title"] = "Início";
}
@Html.AntiForgeryToken()

<div class="album py-5 body">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
            @foreach (var produto in ViewBag.Produtos)
            {
                <div class="col">
                    <div class="card shadow-sm borda-preta">
                        <a class="link-primary text-decoration-none " style=" margin:auto" href="~/Produtos/Produtos/@produto.Value.IdProduto">
                            <img style="width:100%;" src="@produto.Value.UrlImg" class="img-fluid border tamanhoPadrao" title="@produto.Value.NomeProd" alt="@produto.Value.NomeProd">
                        </a>
                        <div class="card-body bg-light-gray">
                            <div style="width:100%;height:60px">
                                <p class="card-text ">
                                    @Html.ActionLink($"{@produto.Value.NomeProd}","Produtos","Produtos",new{id=$"{@produto.Value.IdProduto}"},new { enctype = "application/x-www-form-urlencoded",@class="link-primary text-decoration-none"})
                                </p>

                                <div class="d-flex justify-content-end align-items-center">
                                    <small class="precoProd" style="border-radius:5px">&nbsp;R$:@produto.Value.PrecoProd &nbsp;</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

