@using Firebase.Database
@model Dictionary<string,ModelEndereco>
@{
    ViewBag.Title = "Endereço";
}

@Html.AntiForgeryToken()

<div class="mb-3 " style="width:80%;margin:auto;">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-lightblue text-decoration-none" asp-action="SuaConta" asp-controller="Conta">Sua Conta</a></li>
            <li class="breadcrumb-item active" aria-current="page">Endereço</li>
        </ol>
    </nav>
    <div class="card text-dark bg-light mb-3" style="height:100%">
        <div class="card-header">
            <h4>Seus Endereços</h4>
        </div>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
                    <div class="col">
                        <a asp-action="AddEndereco" asp-controller="Conta" class="text-black">
                            <div class="card shadow-sm borda-preta-azul boxEndereco">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Adicionar</title><rect width="100%" height="100%" fill="#fff" /><text x="50%" y="50%" font-size="3rem" fill="#000" dy=".3em">+</text></svg>
                            </div>
                        </a>
                    </div>
                    @foreach (var item in Model)
                    {
                        @if (item.Value.Padrao)
                        {

                            <div class="col">
                                <div class="card shadow-sm  borda-preta-azul  boxEndereco">
                                    <div class="card-header borda-bottom-azul bg-cinza">
                                        <h6 class="text-light">Endereço Padrão</h6>
                                    </div>
                                    <div class="card-body">

                                        <ul class="list-unstyled">
                                            <li><strong>@item.Value.Nome </strong> </li>
                                            <li>@item.Value.Endereco, @item.Value.Numero</li>
                                            <li> @item.Value.Cidade, @item.Value.UF </li>
                                            <li>@item.Value.Cep</li>
                                            <li>@item.Value.Pais</li>
                                            <li>Telefone: @item.Value.Telefone</li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">

                                                @Html.ActionLink("Alterar","AlterarEndereco","Conta",new{Key=$"{item.Key}&Alterar"},new{@class="btn btn-sm btn-outline-dark"})
                                                <button type="button" class="btn btn-sm btn-outline-dark" data-bs-container="body" data-bs-custom-class="popoverButtonEndereco" data-bs-trigger="focus" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Necessário colocar outro endereço como padrão">
                                                    Excluir
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @foreach (var item in Model)
                    {
                        @if (item.Value.Padrao == false)
                        {
                            <div class="col">
                                <div class="card shadow-sm  borda-preta-azul boxEndereco ">
                                    <div class="card-body ">
                                        <ul class="list-unstyled">
                                            <li><strong class="text-capitalize">@item.Value.Nome </strong> </li>
                                            <li>@item.Value.Endereco, @item.Value.Numero</li>
                                            <li> @item.Value.Cidade, @item.Value.UF </li>
                                            <li>@item.Value.Cep</li>
                                            <li>@item.Value.Pais</li>
                                            <li>Telefone: @item.Value.Telefone</li>
                                        </ul>
                                        <div class="d-flex justify-content-between align-items-center abaixar-div-end ">
                                            <div class="btn-group">

                                                @Html.ActionLink("Alterar","AlterarEndereco","Conta",new{Key=$"{item.Key}&Alterar"},new{@class="btn btn-sm btn-outline-dark"})
                                                @Html.ActionLink("Excluir","AlterarEndereco","Conta",new{Key=$"{item.Key}&Excluir"},new{@class="btn btn-sm btn-outline-dark"})

                                            </div>
                                            @Html.ActionLink("Tornar Padrão","AlterarEndereco","Conta",new{Key=$"{item.Key}&Padrao"},new{@class="btn btn-sm btn-outline-dark"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-bs-toggle="popover"]').popover();
    });
</script>
