@model ModelNotaFiscal
@{
    Layout = "LayoutNota";
    
}

<div class="Box">
 <div class="bordaBox">
        <h6> Detalhes do pedido @Model.IdNota</h6>
        <a href="#" onClick="window.print()">Imprima esta página para seus registros.</a>
 </div>   
    <p style="top:2%">
        Pedido feito: @Model.Produto[0].Data <br />
        Pedido: @Model.IdNota <br />
        Total do pedido: R$ @Model.Produto[0].ValorTotal
         
    </p>

<div class="card border-dark text-dark bg-light mb-3" style="width: 100%;">
  <div  class="BoxRecibo"><h6 style="margin:0.5% 0 0.5% 0">Enviado em @Model.Produto[0].Data</h6></div>
 
  <div >
   <table class="table table-borderless">
      <thead>
        <tr >
          <th scope="col">Itens pedidos</th>
          <th style="text-align:right;" scope="col">Preço</th>     
        </tr>
      </thead>
      <tbody>
        @foreach(var item in @Model.Produto)
         {
            <tr>
            
              <td scope="row">
            
                  <ul class="list-unstyled ">
                      <li><small>@item.Qtd unidade(s) de:&nbsp;<span class="text-capitalize">@item.NomeProd</span></small></li>
                      <li> <small>Vendido por:&nbsp;<span class="text-capitalize">@item.NomeVendedor </span> <a class="text-decoration-none">(perfil do vendedor)</a></small></li>   
                  </ul>                        
              </td>
              <td  style="text-align:right;">
                  <ul class="list-unstyled ">
                   
                      <li>R$ @item.PrecoProd</li>    
                  </ul>                
              </td>  
            </tr>
        }
        <tr class="bordered"></tr>
        <tr>
          <td scope="row"><ul class="list-unstyled ">
                                <li><strong>Endereço de envio:</strong></li>
                                <li><small class="text-capitalize">@Model.Endereco.Nome</small></li>
                                <li><small>@Model.Endereco.Endereco, @Model.Endereco.Numero</small></li>
                                <li><small>@Model.Endereco.Cidade , @Model.Endereco.UF @Model.Endereco.Cep</small></li>
                                <li><small>@Model.Endereco.Pais</small></li>
                                <li></li>
                                <li><strong>Opção de entrega:</strong></li>
                                <li><small>Envio Padrao</small></li>
                                
                       </ul>
            </td>  
        </tr>
      </tbody>
    </table>     
  </div>

</div>
<div class="card bordarPreta text-dark bg-light mb-3" style="width: 100%;">
  <div  class="BoxRecibo"><h6 style="margin:0.5% 0 0.5% 0">Informações de pagamento</h6></div>
 
  <div>
   <table class="table table-borderless">
      <thead>
        <tr >
          <th scope="col">Método de pagamento:</th>
          <th style="text-align:right;" scope="col">Preço</th>   
          
        </tr>
        <tr >
          <td scope="col">(Crédito) @Model.Cartao.Bandeira | Últimos dígitos: @Model.Cartao.QuatroDigCard </td>      
        </tr>
      </thead>
      <tbody>

        <tr>

          <td scope="row">
              <ul class="list-unstyled ">
                                <li><strong>Endereço de cobrança:</strong></li>
                                <li><small class="text-capitalize">@Model.Endereco.Nome</small></li>
                                <li><small>@Model.Endereco.Endereco, @Model.Endereco.Numero</small></li>
                                <li><small>@Model.Endereco.Cidade , @Model.Endereco.UF @Model.Endereco.Cep</small></li>
                                <li><small>@Model.Endereco.Pais</small></li>
              </ul>     
          </td>
          <td style="text-align:right;">
            <p>
            
             <small>Subtotal do(s) item(ns): @Model.Produto[0].ValorTotal</small> <br />                
            <small>Frete e manuseio:R$ 0</small><br />
            <small>-----</small><br />
            <small>Total:R$@Model.Produto[0].ValorTotal</small><br />
            <small>-----</small><br />
            <small><strong>Total geral:R$@Model.Produto[0].ValorTotal</strong></small>
            </p>            
          </td>     
        </tr>     
      </tbody>
    </table>   
  </div>
   <div class="card-footer bg-transparent border-dark">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">Transações</th>
              <td style="text-align:right;">(Crédito) @Model.Cartao.Bandeira terminando em @Model.Cartao.QuatroDigCard: @Model.Produto[0].Data: R$ @Model.Produto[0].ValorTotal</td>     
            </tr>
            <tr>  
          </tbody>
        </table>
    </div>

</div>
 <div class="bordaBox">
        <h5>Observação: esta não é uma nota fiscal eletrônica</h5>
 </div>  
</div>


