@{
    ViewBag.Title = "Finalizar Compra";
}

<div class="container">

 
        <div class="col-12 bg-light p-0 bordaPoucoRedonda">
            <div class="card shadow-sm semBorda">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-sm-4 p-1 align-self-center ">
                            <h5>Endereço de entrega</h5>
                        </div>
                        <div class="col-sm-8  p-1 ">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="col-sm-9 ">
                                    <a class="text-decoration-none text-dark" asp-action="Endereco" asp-controller="Conta" title="Seu endereço padrão">
                                        <div class="boxEnderecoFinalizarCompra borda-preta-azul">
                                            <div class="card">
                                                @if (ViewBag.RNCUC[0] == "Cadastre")
                                                {
                                                    <div class="card-body" style="text-align:center">
                                                        <h6>Cadastre um endereço </h6>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card-body">
                                                        <p>
                                                            <strong>@ViewBag.RNCUC[5]</strong><br>
                                                            @ViewBag.RNCUC[0],<strong> @ViewBag.RNCUC[1]</strong><br>
                                                            @ViewBag.RNCUC[2], @ViewBag.RNCUC[3] <br>
                                                            @ViewBag.RNCUC[4]
                                                        </p>
                                                        <h6 style="text-align:start;"><span class="text-opacity-50 text-dark" style="margin-left: 10px;">Endereço padrão</span></h6>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                    </a>

                                </div>
                                <div class="col-sm-3 p-3 ">
                                    @Html.ActionLink("Alterar","Endereco","Conta",null, new {@class="text-decoration-none"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>

            <div class="card shadow-sm semBorda ">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="col-sm-4 p-1 align-self-start">
                            <h5>Método de pagamento</h5>
                        </div>
                        <div class="col-sm-8  p-3 ">
                            <div class="d-flex justify-content-between align-items-center">
                                @if (ViewBag.Cartao != null)
                                {
                                    <div class="col-sm-9">
                                        <p><strong>@ViewBag.Cartao.Bandeira (Crédito)</strong> termina em @ViewBag.Cartao.QuatroDigCard </p>
                                    </div>
                                    <div class="col-sm-3 p-3 ">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modalCartoes" class="text-decoration-none"> Alterar</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-9">
                                        <p><strong>Nenhum cartao salvo</strong> </p>
                                    </div>
                                    <div class="col-sm-3 p-3 ">
                                        <a asp-action="Carteira" asp-controller="Conta"> Cadastrar</a>
                                    </div>
                                }
                            </div>
                        </div>
                        <script>


                        </script>
                    </div>
                </div>
              
            </div>

        <div class=" card shadow-sm">
            <h5 class="m-2">Revisar itens e envio</h5>
            @await Html.PartialAsync("PartialCards")
            </div>
      
          @*  <div class="card shadow-sm semBorda">
                <div class="card-body">
  
                    <div class="card" style="border:none">
                      
                        <div class="justify-content-between d-flex">

                            <div class="d-flex justify-content-end align-items-end">
                                <div class="btn-group justify-content-end">
                                    <form>
                                        @if (ViewBag.Cartao != null)
                                        {
                                            @if (ViewBag.RNCUC[0] == "Cadastre")
                                            {
                                                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Necessario um endereço para prosseguir">
                                                    <button class="btn btn-sm btn-outline-dark" disabled>Finalizar pedido</button>
                                                </span>
                                            }
                                            else
                                            {
                                                @if (@Model.Qtd < 1)
                                                {
                                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Carrinho está vazio">
                                                        <button class="btn btn-sm btn-outline-dark" disabled>Finalizar pedido</button>
                                                    </span>

                                                }
                                                else
                                                {
                                                    <button type="submit" name="finalizar" id="finalizar" value="finalizar" class="btn btn-sm btn-outline-dark">Finalizar pedido</button>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Necessario um cartão para prosseguir">
                                                <button class="btn btn-sm btn-outline-dark" disabled>Finalizar pedido</button>
                                            </span>

                                        }
                                    </form>
                                </div>
                            </div>
                        <p class="card-text"><span id="QtdTotal" style="font-size:larger">Subtotal (@Model.Qtd itens) : </span> <strong id="VTotal">@Model.ValorTotal</strong></p>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
 
</div>


<div class="modal fade" id="modalCartoes" tabindex="-1" aria-labelledby="modalCartoes" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cartões</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="application/x-www-form-urlencoded">
                    @foreach (var cartao in ViewBag.ArrayCartoes)
                    {

                        <div style="display:flex;">
                            <img src="@cartao.Value.CaminhoImgCartao" width="200" height="125" />
                            <div style="margin-left:2%">
                                <h4>@cartao.Value.NomeCard</h4>
                                <p style="font-size:15px">Cartão de crédito terminando em @cartao.Value.QuatroDigCard </p>
                                <button type="submit" id="cardTrocar" name="cardTrocar" class=" btn-sm btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#@cartao.Key" value="@cartao.Key">Selecionar</button>
                            </div>
                        </div>
                        <br />
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class=" btn-sm btn btn-outline-dark " data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-bs-toggle="popover"]').popover();
    });

</script>

