@{
    int con = 1;
    string qtd = string.Empty;
    string valor = string.Empty;
    string inputHiddenQuantidade = string.Empty;
}

@foreach (var produto in ViewBag.Carrinho)
{
    qtd = "qtd" + con;
    valor = "Valor" + con;
    inputHiddenQuantidade = "inputHiddenQuantidade" + con;
    <form class="p-1">
        <div class=" semBorda " id="bloco">

            <div class="w-100 semBorda d-flex justify-content-evenly wrap">
                <div class=" w-100  d-flex justify-content-center">
                    <img src="@produto[0].UrlImg" class="img-fluid border" style="border-radius:5px;min-height:200px;max-height:201px;" alt="img" />
                </div>
                <div class=" d-flex justify-content-center align-items-center w-100">
                    <ul class="list-unstyled">
                        <li><a class="text-decoration-none text-capitalize" href="~/Produtos/Produtos/@produto[0].IdProduto">
                                <h4 class="alinhacentro">@produto[0].NomeProd</h4>
                            </a></li>
                        <li class="py-3"> <h5 class="alinhacentro">Vendido por : <span class="text-capitalize">@produto[0].NomeVendedor</span></h5></li>
                        <li class="py-2 d-flex justify-content-center">
                            <input value="@produto[1]" id="@inputHiddenQuantidade" hidden />
                            <select onchange="attQuantidade('@produto[0].IdProduto','@qtd')" id="@qtd" class="bg-white btn-sm" style="width:40px;margin-right:2%;margin-left:0.5%;border-radius:5px" aria-label="Default select example">
                                @if (produto[0].Qtd > 5)
                                {
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                                else if (produto[0].Qtd == 0)
                                {
                                    <option selected value="0">Indisponivel</option>

                                }
                                else
                                {
                                    @for (int i = 1; i <= produto[0].Qtd; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select> | @Html.ActionLink("Excluir","ExcluirCarrinho","Conta",new{Excluir = $"{produto[2]}", quantia = 6},new {@class="text-decoration-none",@style="margin-left:2%"})


                        </li>
                    </ul>
                </div>
                <div class=" d-flex justify-content-center align-items-center w-100">
                    R$: <h4 id="@valor">@produto[0].PrecoProd</h4>
                </div>
            </div>
        </div>

    </form>
    <script type="text/javascript">
        var selectElement = document.getElementById('@produto[0].IdProduto');
        var num = @produto[1]
            selectElement.value = num.toString();

        @*function attQuantidade(idprod, selectVar) {

            let selectResp = document.getElementById(selectVar);
            let quantidade = selectResp.options[selectResp.selectedIndex].value;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AlterarQuantidadeCarrinho")?id=' + idprod + '&quantidade=' + quantidade
            })
            console.log("attquantidade dentro");
            
        }*@
        function redirect(id) {

            document.getElementById(id).addEventListener('change', function () {

                var url = '@Url.Action("ExcluirCarrinho", "Conta", new {Excluir = $"produto"})' + id + '***' + this.value;
                window.location = url;
            });
        }
    </script>
    con++;
}
<hr />
<div class="card shadow-sm semBorda">
    <div class="card-body">

        <div class="card" style="border:none">

            <div class="justify-content-between d-flex">

                <div class="d-flex justify-content-end align-items-end">
                    <div class="btn-group justify-content-end">
                        <form>
                            @if (ViewBag.Cartao != null)
                            {
                                @if (ViewBag.RNCUC[0] == "Cadastre")
                                {
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Necessario um endereço para prosseguir">
                                        <button class="btn btn-sm btn-outline-dark" disabled>Finalizar pedido</button>
                                    </span>
                                }
                                else
                                {
                                    @if (@Model.Qtd < 1)
                                    {
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Carrinho está vazio">
                                            <button class="btn btn-sm btn-outline-dark" disabled>Finalizar pedido</button>
                                        </span>

                                    }
                                    else
                                    {
                                        @Html.ActionLink("Finalizar pedido","redirectFinalVenda","Conta",null, new {@class="btn btn-sm btn-outline-dark",@value="finalizar"})
                                    }
                                }
                            }
                            else
                            {
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover focus" data-bs-content="Necessario um cartão para prosseguir">
                                    <button class="btn btn-sm btn-outline-dark" disabled>Finalizar pedido</button>
                                </span>

                            }
                        </form>
                    </div>
                </div>
                <p class="card-text">Subtotal <span id="QtdTotal">@Model.Qtd itens</span> <strong id="VTotal">@Model.ValorTotal</strong></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        let quantBlocoCod = document.querySelectorAll("#bloco").length;
        for (var i = 1; i <= quantBlocoCod; i++) {
            let num = document.querySelector("#inputHiddenQuantidade" + i)
            var selectElement = document.querySelector("#qtd" + i);
            selectElement.value = num.value;
        }
        attValorTotal(quantBlocoCod);
    }

    const formatNumber = new Intl.NumberFormat('pt-BR', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
    });
   

    function attQuantidade(idprod, selectVar) {
        
        let selectResp = document.getElementById(selectVar);
        
        let quantidade = selectResp.options[selectResp.selectedIndex].value;
       
        $.ajax({
            type: "POST",
            url: '@Url.Action("AlterarQuantidadeCarrinho")?id=' + idprod + '&quantidade=' + quantidade
        })
        //Pegar quantia para atualizar a quantia total
        let quantBlocoCod = document.querySelectorAll("#bloco").length
        attValorTotal(quantBlocoCod)
    }
    function attValorTotal(quant = 0) {
        
        var acumulador = 0;
        var acumuladorQuantidade = 0;

        for (var i = 1; i <= parseInt(quant); i++) {
            
            let divValor = "#Valor" + i;
            let qtdVal = "qtd" + i;

            //Pegar valor total do produto, Produto x quantidade
            let valor = document.querySelector(divValor).innerHTML;

            //Pegar a quantidade para que possa recalcular no outro metodo
            let select = document.getElementById(qtdVal);
            let quantidade = select.options[select.selectedIndex].value;
            
            //Acumulando para recalcular e dando replace para corrigir erro
            let Rep = valor.replace(".", "");
            
            acumulador += parseFloat(Rep.replace(",", ".")) * quantidade;
            acumuladorQuantidade += parseInt(quantidade);
        }
       
        //Resultado final
        console.log(formatNumber.format(acumulador));
        document.querySelector("#VTotal").innerHTML = formatNumber.format(acumulador);
        document.querySelector("#QtdTotal").innerHTML = "( " + acumuladorQuantidade + " ) :";
    }

</script>