@{
    ViewBag.title = "Transações";
}
<div class="mb-3 w-75 m-auto">

    <nav style="--bs-breadcrumb-divider: '  ';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a class="text-decoration-none text-white" asp-action="Carteira" asp-controller="Conta">Carteira</a></li>
            <li class="breadcrumb-item "><a class="text-decoration-none text-white bordaBottom" href="">Transações</a></li>
        </ol>
    </nav>
</div>
<div class="mb-3 w-75 m-auto" >
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-lightblue text-decoration-none" asp-action="SuaConta" asp-controller="Conta">Sua Conta</a></li>
            <li class="breadcrumb-item active" aria-current="page">Seus Pagamentos</li>
            <li class="breadcrumb-item active" aria-current="page">Transações</li>
        </ol>
    </nav>
    <h4 class="mb-3" style="color:lightblue">Transações</h4>
    <div class="card text-dark bg-light mb-3">
        <div class="card-header">Concluído</div>
        <div class="card-body">
            <table class="table table-striped">
                @foreach (var item in ViewBag.Transacoes)
                {
                    <tbody class="border-black">
                        <tr class="table-dark">
                            <td scope="row">@item.Value.Produto[0].Data</td>
                            <td scope="row"></td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <h6>@item.Value.Cartao.Bandeira ****@item.Value.Cartao.QuatroDigCard</h6>
                                Número do pedido : @Html.ActionLink($"{@item.Key}","DetalhePedido","Conta",new{nota = @item.Key},new{@class="text-decoration-none"})
                            </td>
                            <td style="text-align:right;" scope="row"><h6>-R$ @item.Value.Produto[0].ValorTotal</h6></td>
                        </tr>
                    </tbody>
                }
            </table>

        </div>

    </div>
</div>