@model ModelUsuario
@{
    ViewBag.title = "Criar conta";
}
@Html.AntiForgeryToken()

<div class="form-signin" id="AjustaCriarConta">
    @using (Html.BeginForm(FormMethod.Post, new { enctype = "application/x-www-form-urlencoded" }))
{
        <div class="card border-primary mb-2">
            @Html.ValidationSummary()
            <div class="card-header"> <h1 class="h3 mb-1 fw-normal">Criar conta</h1></div>
            <div class="card-body">
                <div class="mb-3">
                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(m => m.Nome, "", new {@id="floatingInput",@class="form-control letraP", @TextMode="text", @placeholder="Nome",@type="text", @Required ="Required",@oninvalid="setCustomValidity('Campo senha vazio')",@oninput="setCustomValidity('')" })
                        <label for="floatingInput">Nome</label>
                    </div>
                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(m => m.Email, "", new {@autocomplete = "off",@id="floatingEmail",@class="form-control letraP", @TextMode="Email", @placeholder="Seu Email",@type="email", @Required ="Required",@oninvalid="setCustomValidity('Endereço de email inválido. Corrija e tente novamente.')",@oninput="setCustomValidity('')" })
                        <label for="floatingEmail">Email</label>
                    </div>

                    <div class="form-floating">
                        @Html.TextBoxFor(m => m.Senha, "", new {@id="passwordLogin",@class="form-control letraP",@type="password",@Required ="Required", @placeholder="Sua senha",@oninvalid="setCustomValidity('Campo senha vazio')",@oninput="setCustomValidity('')" })
                        <label for="passwordLogin">Senha</label>
                    </div>
                    <div class="form-floating">
                        @Html.TextBoxFor(m => m.ConfSenha, "", new {@id="passwordConfSenha",@class="form-control letraP",@type="password",@Required ="Required", @placeholder="Confirme sua senha",@oninvalid="setCustomValidity('Campo senha vazio')",@oninput="setCustomValidity('')" })
                        <label for="passwordConfSenha">Confirme sua senha</label>
                    </div>


                </div>

                <div class="w-75 m-auto d-grid">
                    <button type="submit" class="btn bntPersGeral-bg-Darkpurple  btn-sm">Confirmar</button>
                </div>

                <p>
                    <br />Esqueceu sua senha? <a class="text-decoration-none" asp-action="RecuperarSenha" asp-controller="Login">Clique aqui</a>
                    <br />Ao continuar, você concorda com as <a class="text-decoration-none" href="#">Condições de uso</a> do APP.
                </p>
                <a class="text-decoration-none" href="#">Precisa de ajuda?</a>
            </div>

        </div>
    }
    <div class="adpHr" style="width:100%;margin:auto;color:orange;">
        <hr><p style="color:white;">&ensp;  Possui conta?  &ensp;</p><hr>
    </div>
    <div style="width:100%;margin:auto;text-align:center">
        <a class="btn w-100  btn-sm text-light borda-branca-azul" asp-action="Login" asp-controller="Login"><strong>Login</strong></a>
    </div>
</div>

<script type="text/javascript">
    var j = document.documentElement.clientHeight / 14;
    document.getElementById("AjustaCriarConta").style.marginTop = j + 'px';
    window.onresize = resizeteste1
    function resizeteste1() {
        var j = document.documentElement.clientHeight / 14;
        document.getElementById("AjustaCriarConta").style.marginTop = j + 'px';

    }
</script>
<!--


⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠛⠛⠋⠉⠈⠉⠉⠉⠉⠛⠻⢿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⡿⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⢿⣿⣿⣿⣿
⣿⣿⣿⣿⡏⣀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣤⣤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠙⢿⣿⣿
⣿⣿⣿⢏⣴⣿⣷⠀⠀⠀⠀⠀⢾⣿⣿⣿⣿⣿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠈⣿⣿
⣿⣿⣟⣾⣿⡟⠁⠀⠀⠀⠀⠀⢀⣾⣿⣿⣿⣿⣿⣷⢢⠀⠀⠀⠀⠀⠀⠀⢸⣿
⣿⣿⣿⣿⣟⠀⡴⠄⠀⠀⠀⠀⠀⠀⠙⠻⣿⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⣿
⣿⣿⣿⠟⠻⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠶⢴⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⣿
⣿⣁⡀⠀⠀⢰⢠⣦⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⣿⣿⣿⣿⣿⡄⠀⣴⣶⣿⡄⣿
⣿⡋⠀⠀⠀⠎⢸⣿⡆⠀⠀⠀⠀⠀⠀⣴⣿⣿⣿⣿⣿⣿⣿⠗⢘⣿⣟⠛⠿⣼
⣿⣿⠋⢀⡌⢰⣿⡿⢿⡀⠀⠀⠀⠀⠀⠙⠿⣿⣿⣿⣿⣿⡇⠀⢸⣿⣿⣧⢀⣼
⣿⣿⣷⢻⠄⠘⠛⠋⠛⠃⠀⠀⠀⠀⠀⢿⣧⠈⠉⠙⠛⠋⠀⠀⠀⣿⣿⣿⣿⣿
⣿⣿⣧⠀⠈⢸⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠟⠀⠀⠀⠀⢀⢃⠀⠀⢸⣿⣿⣿⣿
⣿⣿⡿⠀⠴⢗⣠⣤⣴⡶⠶⠖⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡸⠀⣿⣿⣿⣿
⣿⣿⣿⡀⢠⣾⣿⠏⠀⠠⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠛⠉⠀⣿⣿⣿⣿
⣿⣿⣿⣧⠈⢹⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⣿⣿
⣿⣿⣿⣿⡄⠈⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣴⣾⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣧⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣦⣄⣀⣀⣀⣀⠀⠀⠀⠀⠘⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡄⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠙⣿⣿⡟⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠁⠀⠀⠹⣿⠃⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡿⠛⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⢐⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⠿⠛⠉⠉⠁⠀⢻⣿⡇⠀⠀⠀⠀⠀⠀⢀⠈⣿⣿⡿⠉⠛⠛⠛⠉⠉
⣿⡿⠋⠁⠀⠀⢀⣀⣠⡴⣸⣿⣇⡄⠀⠀⠀⠀⢀⡿⠄⠙⠛⠀⣀⣠⣤⣤⠄


-->
